[include]
  path = ~/.gitconfig-os-specific

[user]
  username = ggteixeira
	name = Guilherme Teixeira
  email = 24235344+ggteixeira@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB892dK7h4zJLKpcXMTJ3QreOW2zOpZ/3xC5tXqU9Umt

[gpg]
  format = ssh

[commit]
  gpgsign = true

[core]
	editor = nvim

[tag]
	forceSignAnnotated = false

[pull]
	rebase = false

[init]
	defaultBranch = main

[push]
	default = current

[alias]
	l = "log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	st = status
	com = commit
	diffcom = git diff HEAD~1
	git = !git
  unstage = restore --staged . 
  adp = add -p

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
