set scrolloff=10
set linenumber
" set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed

" Improve search

set ignorecase
set smartcase
set incsearch
set hlsearch

" BUILTIN IDEAVIM PLUGINS

" Highlighted Yank
set highlightedyank

" Keybindings
map <S-h> <action>(PreviousTab)
map <S-l> <action>(NextTab)

map <C-h> <action>(PreviousSplitter)
map <C-l> <action>(NextSplitter)

" Comment lines
map gcc <action>(CommentByLineComment)
